/* -----------------------------------------
    Ratings CSS
----------------------------------------- */
.ratings {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
	.rate{
		background-image: url(../images/rate-star.png);
		background-position: 0 -13px;
		background-repeat: repeat-x;
		height: 13px;
		transition: all 0.5s ease-out 0s;
		width: 95px;
	}
	.rating-icon{
		background-image: url(../images/rate-star.png);
		background-position: 0 0;
		background-repeat: repeat-x;
		height: 13px;
        width: 80%;
	}
	.ratings-total{
		font-size: 12px;
		line-height: 1;
	}
}