/*   
    
    * This file contains the styling for the Home Variation Three, this
    is the file you need to edit to change the look of the
    template.

******************************************************
*****************************************************/
/* -----------------------------------------
	Hero Banner CSS
----------------------------------------- */

.hero-banner{
    &.hero-banner-3{
        padding-top: 310px;
        padding-bottom: 190px;

        .bg-shape{
            position: absolute;
            left: 0;
            bottom: -1px;
            right: 0;
            z-index: 5;
            height: auto;
            opacity: 1;
        }

        .swiper-slide{
            .bg-img{
                transition: all 10s linear;
            }

            .banner-content {
                opacity: 0;
            }

            &.swiper-slide-active {
                .bg-img {
                    transform: scale(1.4);
                }
                .banner-content {
                    opacity: 1;
                }
            }
        }
    }
}