/* -----------------------------------------
	Header 3 CSS
----------------------------------------- */
.header-area{
    &.header-3 {
        &:not(.is-sticky) {
            :is(.header-top li a) {
                color: var(--color-white);
            }
        }
        .social-link {
            --bg: rgba(var(--color-white-rgb), .2);
            a{
                background-color: var(--bg);
                &:hover{
                    color: var(--color-primary);
                }
            }
        }

        &.is-sticky {
            .header-top{
                display: none;
            }
            .header-bottom {
                padding-inline: 0 !important;
                background-color: transparent !important;
            }
        }
    }
}